/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
}

body {
  font-family: Arial;
  width: 360px;
  margin: 10px auto;
  padding: 5px 10px;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
h1 {
  font-family: Arial;
  text-align: center;
}
.remaining {
  display: block;
  text-align: center;
}
div {
  text-align: center;
}
ul {
  list-style: none;
  text-align: left;
}
ul li {
  cursor: pointer;
}
.done-true {
  text-decoration: line-through;
  color: #808080;
}
