body
  font-family: Arial
  width: 360px
  margin: 10px auto
  padding: 5px 10px
  border: 1px solid darken(white, 25%)
  border-radius: 3px

h1
  font-family: Arial
  text-align: center

.remaining
  display: block
  text-align: center

div
  text-align: center

ul
  list-style: none
  text-align: left

.done-true
  text-decoration: line-through
  color: gray
